<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ExamAnswerMapper">

    <insert id="insert" parameterType="com.example.entity.ExamAnswer" useGeneratedKeys="true">
        insert into `exam_answer`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="recordId != null">record_id,</if>
            <if test="questionId != null">question_id,</if>
            <if test="studentAnswer != null">student_answer,</if>
            <if test="isCorrect != null">is_correct,</if>
            <if test="score != null">score,</if>
            <if test="comment != null">comment,</if>
            <if test="gradedBy != null">graded_by,</if>
            <if test="gradedAt != null">graded_at,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="recordId != null">#{recordId},</if>
            <if test="questionId != null">#{questionId},</if>
            <if test="studentAnswer != null">#{studentAnswer},</if>
            <if test="isCorrect != null">#{isCorrect},</if>
            <if test="score != null">#{score},</if>
            <if test="comment != null">#{comment},</if>
            <if test="gradedBy != null">#{gradedBy},</if>
            <if test="gradedAt != null">#{gradedAt},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.ExamAnswer">
        update `exam_answer`
        <set>
            <if test="studentAnswer != null">
                student_answer = #{studentAnswer},
            </if>
            <if test="isCorrect != null">
                is_correct = #{isCorrect},
            </if>
            <if test="score != null">
                score = #{score},
            </if>
            <if test="comment != null">
                comment = #{comment},
            </if>
            <if test="gradedBy != null">
                graded_by = #{gradedBy},
            </if>
            <if test="gradedAt != null">
                graded_at = #{gradedAt},
            </if>
        </set>
        where id = #{id}
    </update>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into `exam_answer` (record_id, question_id, student_answer, is_correct, score)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.recordId}, #{item.questionId}, #{item.studentAnswer}, #{item.isCorrect}, #{item.score})
        </foreach>
        ON DUPLICATE KEY UPDATE
        student_answer = VALUES(student_answer),
        is_correct = VALUES(is_correct),
        score = VALUES(score)
    </insert>

</mapper>
