<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ForumLikeMapper">

    <insert id="insert" parameterType="com.example.entity.ForumLike">
        insert into `forum_like` (user_id, user_role, target_type, target_id, type)
        values (#{userId}, #{userRole}, #{targetType}, #{targetId}, #{type})
    </insert>

    <delete id="delete">
        delete from `forum_like`
        where user_id = #{userId} and user_role = #{userRole}
          and target_type = #{targetType} and target_id = #{targetId} and type = #{type}
    </delete>

</mapper>
