<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TutorialMapper">

    <select id="selectAll" resultType="com.example.entity.Tutorial">
        select t.*, qc.name as categoryName
        from `tutorial` t
        left join `question_category` qc on t.category_id = qc.id
        <where>
            <if test="title != null and title != ''"> and t.title like concat('%', #{title}, '%')</if>
            <if test="contentType != null and contentType != ''"> and t.content_type = #{contentType}</if>
            <if test="categoryId != null"> and t.category_id = #{categoryId}</if>
            <if test="creatorId != null"> and t.creator_id = #{creatorId}</if>
            <if test="status != null and status != ''"> and t.status = #{status}</if>
        </where>
        order by t.created_at desc
    </select>

    <insert id="insert" parameterType="com.example.entity.Tutorial" useGeneratedKeys="true">
        insert into `tutorial`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="description != null">description,</if>
            <if test="contentType != null">content_type,</if>
            <if test="coverUrl != null">cover_url,</if>
            <if test="videoUrl != null">video_url,</if>
            <if test="documentUrl != null">document_url,</if>
            <if test="content != null">content,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="creatorId != null">creator_id,</if>
            <if test="creatorName != null">creator_name,</if>
            <if test="creatorRole != null">creator_role,</if>
            <if test="viewCount != null">view_count,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="description != null">#{description},</if>
            <if test="contentType != null">#{contentType},</if>
            <if test="coverUrl != null">#{coverUrl},</if>
            <if test="videoUrl != null">#{videoUrl},</if>
            <if test="documentUrl != null">#{documentUrl},</if>
            <if test="content != null">#{content},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="creatorId != null">#{creatorId},</if>
            <if test="creatorName != null">#{creatorName},</if>
            <if test="creatorRole != null">#{creatorRole},</if>
            <if test="viewCount != null">#{viewCount},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Tutorial">
        update `tutorial`
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="description != null">description = #{description},</if>
            <if test="contentType != null">content_type = #{contentType},</if>
            <if test="coverUrl != null">cover_url = #{coverUrl},</if>
            <if test="videoUrl != null">video_url = #{videoUrl},</if>
            <if test="documentUrl != null">document_url = #{documentUrl},</if>
            <if test="content != null">content = #{content},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from `tutorial` where id = #{id}
    </delete>

</mapper>
